<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-avatar slot="start">
      <img src="assets/icon/output-onlinepngtools.png" alt="Logo">
    </ion-avatar>
    <ion-title color="dark">
      Sara-Sansar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <!-- we can use size of col is 12 means 100%, if i am using three col size of all of them is 12 -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="toolbox">
        <ion-icon name="list-sharp" style="color: #333333;"></ion-icon>
      </ion-col>
      <ion-col class="toolbox">
        <ion-icon name="home-sharp" style="color: #333333;"></ion-icon>
      </ion-col>
      <ion-col class="toolbox">
        <ion-icon name="search-circle-sharp" style="color: #333333;"></ion-icon>
      </ion-col>
      <ion-col class="toolbox">
        <ion-icon name="help-sharp" style="color: #333333;"></ion-icon>
      </ion-col>
      <ion-col class="toolbox">
        <ion-icon name="log-in-sharp" style="color: #333333;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <div class="textAboveCard">
    PLACE WHERE YOU MUST COMEEEEEEEE...
  </div>

  <div style="height: 200px; overflow: auto;">
    <div style="display: flex; flex-direction: row;">
      <ion-card>
        <img src="\assets\Places\80 feet Buddha.jpg" >
        <ion-card-header>
          <ion-card-title>
            BIHAR
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="\assets\Places\80 feet Buddha.jpg" >
        <ion-card-header>
          <ion-card-title>
            BIHAR
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="\assets\Places\80 feet Buddha.jpg" >
        <ion-card-header>
          <ion-card-title>
            BIHAR
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <div id="container">
    <ion-button size="medium" color="primary" shape="square">
      <span style="color: #333333; margin-right:10px;">Uncover Global Travel Spots</span>
      <ion-icon name="airplane-sharp" style="color: green;"></ion-icon>
    </ion-button>
  </div>

</ion-content> -->
<app-login-page></app-login-page>
